.timetblHolder
{
    margin-top:50px;
    width:75%;
    height:600px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    background-color:#FFF;
    float:left;
}
.timetbl
{
    margin-left:2.5%;
    width:95%;
    height:90%;
    table-layout:fixed;
    text-align:center;
    color:#3E454D;
}
td
{
    padding:0!important;
}
.btmBdr
{
    border-bottom:#FF8060 solid 1px;
}
.rightBdr
{
    border-right:#FF8060 solid 1px;
}
.select
{
    font-size:1.4em;
    color:#3E454D;
}
.nonSelect
{
    color:#FF8060;
}
.leftWk
{
    cursor:pointer;
}
.centWk
{
    cursor:pointer;
}
.rightWk
{
    cursor:pointer;
}
.toolsHolder
{
    color:#FFF!important;
    margin-top:50px;
    float:right;
    width:25%;
    height:600px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    background-color:#3E454D;
}
.toolsHolder div
{
    width:95%;
    margin-left:2.5%;
    text-align:center;
}
.hdr
{
    margin-top:10%;
    font-size:1.4em;
    color:#FFF;
}
.options
{
    cursor:default;
}
.roomChoice
{
    cursor:pointer;
    text-decoration:underline;
}
.roomChoice:hover
{
    text-decoration:underline;
}
.modChoice
{
    cursor:pointer;
}
.modChoice:hover
{
    text-decoration:underline;
}
.lectChoice
{
    cursor:pointer
}
.lectChoice:hover
{
    text-decoration:underline;
}
.rooms
{
    margin-top:43px;
    border-bottom:#FFF solid 1px;
}
.rooms input
{
    background-color:transparent;
    border:none;
    padding:0;
    width: -moz-calc(100% - 28px);
    width: -webkit-calc(100% - 28px);
    width: calc(100% - 28px);
    color:#FFF;
    padding-left:5px;
    text-transform:uppercase;
}
.rooms img
{
    cursor:pointer;
}
.suggest
{
    margin-top:-10px;
}
.suggestTbl
{
    width:100%;
    height:425px;
    max-height:425px;
    overflow:auto;
    text-align:left;
}
.suggestTbl td
{
    padding:5px!important;
    cursor:pointer;
    width:100%;
}
.suggestTbl td:hover
{
    background-color:#2B3036;
}
.semesters
{
    margin-top:40px;
    width:100%;
}
.semBtn
{
    position:relative;
    padding:10px;
    top:25px;
    border-radius:7px;
    cursor:pointer;
}
.semBtn:hover
{
    background-color:#FF8060;
}
.semOne
{
    background-color:#FF8060;
}
.semTwo
{
    background-color:#2B3036;
}
.splitter
{
    position:relative;
    background-color:#3E454D;
    padding:10px;
    top:25px;
    width:25px;
}
.weeksTbl
{
    margin-top:-10px;
    width:100%;
    table-layout:fixed;
}
.weeksTbl td
{
    padding-bottom:5px!important;
}
.weeksTbl span
{
    position:relative;
    background-color:#EAEAEA;
    border-radius: 50%;
	width: 20px;
	height: 20px;
    left:50%;
    margin-left:-10px;
    display:block;
    cursor:pointer;
}
.weeksTbl span:hover
{
    background-color:#FF8060;
}
.booking
{
    cursor:pointer;
    background-color:#FF8060;
    color:#FFF;
}
.bookingSpan
{
    position: absolute;
    background-color: #3E454D;
    display:block;
    padding:5px;
    cursor:default;
}
.bookingSpan span
{
    cursor:pointer;
}
.bookingSpan span:hover
{
    color:#FF8060;
}
.greyOut
{
    position:relative;
    left:2.5%;
    top:-80%;
    background-color:#FFF;
    height:80%;
    width:95%;
    display:block;
}
.greyOut img
{   
    position:relative;
    left:50%;
    top:50%;
    margin-left:-35px;
    margin-top:-35px;
}
.switchView
{
    float:right;
    padding:10px;
    color:#FFFFFF;
    background-color:#3E454D;
    border-radius:10px;
    font-weight:bold;
    cursor:pointer;
    margin-top:20px;
}
.topSpacer
{
    float:right;
    padding:10px;
    color:#FFFFFF;
    border-radius:10px;
    font-weight:bold;
    cursor:pointer;
    margin-top:20px;
    width:50%;
}
.allWks
{
    color:#999;
    cursor:pointer;
}
.allWks
{
    color:#FF8060;
}
.switchView:hover
{
    background-color:#2B3036;
}
.whiteSpace
{
    height:30px;
    width:100%;
    float:left;
}